{% extends 'base.html' %}

{% block content %}
<h2>Histórico de Clientes</h2>
<ul>
    {% for cliente in clientes %}
    <li>
        {{ cliente.nome }} {{ cliente.sobrenome }}
        <ul>
            {% for carro in cliente.carro_set.all %}
            <li>{{ carro.modelo }} - Placa: {{ carro.placa }}
                <ul>
                    {% for servico in carro.servico_set.all %}
                    <li>Serviço: {{ servico.descricao }} em {{ servico.data }}</li>
                    {% empty %}
                    <li>Nenhum serviço registrado para este carro.</li>
                    {% endfor %}
                </ul>
            </li>
            {% empty %}
            <li>Este cliente não tem carros registrados.</li>
            {% endfor %}
        </ul>
    </li>
    {% empty %}
    <li>Nenhum cliente registrado.</li>
    {% endfor %}
</ul>
{% endblock %}
