# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.swp
.DS_Store

# Virtual environment
venv/
.venv/

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# SQLite database files
*.db
*.sqlite3

